@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-track {
  background: transparent;
}

.message .send {
  opacity: 30%;
  cursor: default;
}

.message .input:not(:placeholder-shown)~.send {
  opacity: 100%;
}